$green: green;
$light-green: rgb(175, 255, 175);
$lighter-green: rgb(229 255 229);
$lavender: lavender;
$black: black;
$white: white;
$light-gray: #f1f1f1;
$gray: #d1cece;
$dark-gray: #b2b2b4;
$yellow: rgb(255, 255, 164);
$purple: #a4b3fe;
$light-purple: #e9ebfa;
$red: #f75151;
