@use "./colors.scss" as *;

.MuiSkeleton-root {
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.draggable-chip {
  &.MuiChip-root {
    font-size: 0.5rem;
    cursor: move;
    margin-right: 6px;
    margin-bottom: 6px;

    &.disabled {
      opacity: 0.5 !important;
      cursor: default;
      border: 1px dotted $gray;
    }

    & .MuiChip-label > span {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        padding-right: 2px;
      }
    }
    svg {
      font-size: 0.8rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    &.isDriver {
      background-color: $light-purple;
    }

    &:last-child {
      margin-right: 0;
    }

    &.plain {
      cursor: pointer;
      background: none;
      border-style: dotted;
      border-width: 1px;
      border-color: $gray;
    }
  }
}

.draggable-chips-title {
  &.MuiTypography-root {
    font-size: 0.9rem;
    margin-bottom: 6px;
    padding: 4px 8px;
    font-weight: 600;
    background: $white;
    color: $black;
    border-bottom: 1px solid $gray;
  }
}

.leftsidebar-scrollable {
  max-height: calc(100% - 40px);
  overflow-y: auto;
}

.MuiDrawer-paper {
  box-shadow: 10px 0px 40px -30px $black !important;
}

.car-text {
  &.MuiTypography-root {
    color: $gray;
    padding: 0 2px;
    font-weight: 600;
    text-align: center;
    font-size: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  flex-basis: 50%;

  li {
    text-align: center;
    line-height: 1;
    padding: 2px;
  }

  p {
    border-radius: 6px;
    font-size: 0.5rem;
    margin: 0;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.removable {
      padding-right: 20px;
      position: relative;

      button {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translate(0, -50%) scaleY(0.8);
        background: none;
        padding: 2px;
        line-height: 1.5;
        border: 0 none !important;
        outline: 0 !important;

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
          border: 0 none !important;
        }
      }
    }
  }

  &.drivers-list {
    li p {
      background: $light-purple;
    }

    &.absences {
      flex-basis: 100%;
      height: 100%;
      display: table;
      width: 100%;
      table-layout: fixed;

      li {
        display: table-cell;
        padding: 2px;
        p {
          background: $red;

          button {
            color: $white;
          }
        }
      }

      p {
        color: $white;
      }
    }
  }

  &.regions-list {
    li p {
      color: $black;
    }
  }
}

.tiles-container {
  border-bottom: 1px solid $light-gray;
  flex-wrap: wrap;
}

.tile {
  border-right-width: 1px;
  border-right-style: groove;
  height: 50%;

  &:nth-child(5) {
    border-right: 0 none;
  }

  &:last-child {
    .list li {
      border-right: 0 none;
    }
  }
}

.droppable-container {
  &.isActive {
    background: $light-green;
  }

  &.isDroppable {
    background: $lighter-green;
  }

  &.removing {
    position: relative;

    &:before {
      content: "Διαγραφή...";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
    }
  }
}

.container-with-dragged-items {
  height: 100%;
}

.day-text {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2;
}

.day-number {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}

.weekly {
  background-color: $weekly !important;
}

.biweekly {
  background-color: $biweekly !important;
}

.otj {
  background-color: $otj !important;
}

.public {
  background-color: $public !important;
}

.colorIndicator {
  width: 12px;
  height: 12px;
  margin-right: 2px;

  + span {
    font-size: 0.7rem;
  }
}
