@import "../src/styles/colors.scss";
@import "../src/styles/buttons.scss";

* {
  box-sizing: border-box;
}
.day {
  border: 1px solid $gray;
  flex-basis: 20%;
  padding: 0 !important;
}

.day-of-the-week {
  background: $green;
  text-align: center;
  padding: 2px 0;
  color: $white;
}

.MuiAppBar-root,
.MuiToolbar-root {
  height: 36px !important;
  min-height: unset !important;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.icon-menuIcon {
  font-size: 20px;
  cursor: pointer;
}

.app-container {
  overflow-x: hidden;
  height: 100vh;
  padding-top: 40px;
}

.main-content {
  margin-left: -246px;
  flex-grow: 1;
  transition: all 0.15s ease-in-out;
  flex-direction: column;
  display: flex;
  height: calc(100vh - 40px);

  &.open {
    margin-left: 0;
  }
}

header {
  transition: all 0.15s ease-in-out;
  &.open {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}
