@use "../src/styles/colors.scss" as *;
@use "../src/styles/buttons.scss" as *;
@use "../src/styles/draggable.scss" as *;
@use "../src/styles/login.scss" as *;
@use "../src/styles/responsive.scss" as *;

* {
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  font-size: 16px;
}

.MuiToolbar-root {
  justify-content: space-between !important;
}

.day {
  box-shadow: 8px 9px 6px -11px $black;
  flex-basis: 20%;
  width: 20%;
  padding: 0 !important;
}

.day-of-the-week {
  background: $light-gray;
  text-align: center;
  padding: 2px;
  color: $black;
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid $gray;
}

.MuiAppBar-root,
.MuiToolbar-root {
  height: 36px !important;
  min-height: unset !important;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.icon-menuIcon {
  font-size: 20px;
  cursor: pointer;
}

.app-container {
  overflow-x: hidden;
  height: 100vh;
  padding-top: 40px;
}

.main-content {
  margin-left: -241px;
  flex-grow: 1;
  transition: all 0.15s ease-in-out;
  flex-direction: column;
  display: flex;
  height: calc(100vh - 40px);

  &.open {
    margin-left: 0;
  }
}

header {
  transition: all 0.15s ease-in-out;
  &.open {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}
